openapi: 3.0.3
info:
  title: Devices API Gateway
  description: |
    A REST API for managing device resources with full CRUD operations and filtering capabilities.

    ## Device Domain

    Each device contains:
    - **Id**: Unique identifier (UUID v7)
    - **Name**: Device name
    - **Brand**: Device manufacturer/brand
    - **State**: Current state (available, in-use, inactive)
    - **Creation Time**: Timestamp when the device was created

    ## Business Rules

    - Creation time cannot be updated
    - Name and brand properties cannot be updated if the device is in use
    - In-use devices cannot be deleted

    ## API Versioning

    This API uses semantic versioning and supports multiple versioning strategies:

    ### Version Strategy
    - **URL Path Versioning**: `/v1/` (primary method)
    - **Header Versioning**: `API-Version: v1` header (alternative)

    ### Version Information
    - All responses include `API-Version` header indicating the version used
    - Version-specific changes are documented in the changelog
    - Breaking changes require major version increment

    ## Security

    This API uses PASETO token authentication:
    - **PASETO tokens**: Platform-Agnostic Security Tokens - secure, stateless authentication

    ## Security Headers

    All responses include standard security headers:
    - `X-Content-Type-Options: nosniff`
    - `X-Frame-Options: DENY`
    - `X-XSS-Protection: 1; mode=block`
    - `Strict-Transport-Security: max-age=31536000; includeSubDomains`
    - `Content-Security-Policy: default-src 'self'`
    - `Referrer-Policy: strict-origin-when-cross-origin`
    - `Permissions-Policy: camera=(), microphone=(), geolocation=()`

  version: 1.0.0
  contact:
    name: Devices API Support
    url: https://github.com/architeacher/devices
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.devices.dev/{version}
    description: Local development server
    variables:
      version:
        default: "v1"
        enum:
          - v1
        description: The API version to use
  - url: https://api.devices.com/{version}
    description: Production server
    variables:
      version:
        default: "v1"
        enum:
          - v1
        description: The API version to use

security:
  - PasetoAuth: []

paths:
  /devices:
    post:
      summary: Create a new device
      description: |
        Creates a new device resource. The device will be assigned a unique UUID v7 identifier
        and the creation time will be automatically set to the current timestamp.
      operationId: createDevice
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
        - $ref: "#/components/parameters/AcceptHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDeviceRequest"
            examples:
              basic:
                $ref: "schemas/examples/device_create_request.yaml#/basic"
      responses:
        "201":
          description: Device created successfully
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Location:
              $ref: "#/components/headers/LocationHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitResetHeader"
            Content-Encoding:
              $ref: "#/components/headers/ContentEncodingHeader"
            Vary:
              $ref: "#/components/headers/VaryHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceResponse"
              examples:
                created:
                  $ref: "schemas/examples/device_response.yaml#/created"
        "400":
          $ref: "schemas/errors/bad_request.yaml"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "406":
          $ref: "schemas/errors/not_acceptable.yaml"
        "422":
          $ref: "schemas/errors/unprocessable_entity.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    get:
      summary: List all devices
      description: |
        Retrieves a paginated list of all devices. Supports filtering by brand and state.
      operationId: listDevices
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/BrandFilterParam"
        - $ref: "#/components/parameters/StateFilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/FieldsParam"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
        - $ref: "#/components/parameters/AcceptEncodingHeader"
        - $ref: "#/components/parameters/AcceptHeader"
      responses:
        "200":
          description: List of devices retrieved successfully
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitResetHeader"
            Content-Encoding:
              $ref: "#/components/headers/ContentEncodingHeader"
            Vary:
              $ref: "#/components/headers/VaryHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceListResponse"
              examples:
                list:
                  $ref: "schemas/examples/device_list_response.yaml#/list"
        "304":
          description: Not Modified - Resource unchanged since last request (ETag matched)
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
        "400":
          $ref: "schemas/errors/bad_request.yaml"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "406":
          $ref: "schemas/errors/not_acceptable.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    head:
      summary: Get devices collection metadata
      description: |
        Returns headers only for the devices collection (no response body).
        Useful for checking collection size or validating cached data via ETag.
      operationId: headDevices
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/SizeParam"
        - $ref: "#/components/parameters/BrandFilterParam"
        - $ref: "#/components/parameters/StateFilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          description: Collection metadata returned
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
            X-Total-Count:
              description: Total number of items matching the query
              schema:
                type: integer
              example: 150
            Content-Length:
              description: Size of the response body in bytes (if GET were used)
              schema:
                type: integer
              example: 4096
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
        "304":
          description: Not Modified - Collection unchanged since last request
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    options:
      summary: Get allowed methods for devices collection
      description: |
        Returns the HTTP methods allowed for the devices collection.
        Used for CORS preflight requests and capability discovery.
      operationId: optionsDevices
      tags:
        - Devices
      security: []
      responses:
        "204":
          description: Allowed methods returned
          headers:
            Allow:
              description: Comma-separated list of allowed HTTP methods
              schema:
                type: string
              example: "GET, POST, HEAD, OPTIONS"
            Access-Control-Allow-Methods:
              description: CORS allowed methods
              schema:
                type: string
              example: "GET, POST, HEAD, OPTIONS"
            Access-Control-Allow-Headers:
              description: CORS allowed headers
              schema:
                type: string
              example: "Authorization, Content-Type, Request-Id, Correlation-Id, API-Version, If-None-Match, traceparent, tracestate"
            Access-Control-Max-Age:
              description: CORS preflight cache duration in seconds
              schema:
                type: integer
              example: 86400

  /devices/{deviceId}:
    get:
      summary: Get a device by ID
      description: Retrieves a single device by its unique identifier.
      operationId: getDevice
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/DeviceIdParam"
        - $ref: "#/components/parameters/FieldsParam"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
        - $ref: "#/components/parameters/AcceptEncodingHeader"
        - $ref: "#/components/parameters/AcceptHeader"
      responses:
        "200":
          description: Device retrieved successfully
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
            Last-Modified:
              $ref: "#/components/headers/LastModifiedHeader"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitResetHeader"
            Content-Encoding:
              $ref: "#/components/headers/ContentEncodingHeader"
            Vary:
              $ref: "#/components/headers/VaryHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceResponse"
              examples:
                device:
                  $ref: "schemas/examples/device_response.yaml#/device"
        "304":
          description: Not Modified - Resource unchanged since last request (ETag matched)
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "404":
          $ref: "schemas/errors/not_found.yaml"
        "406":
          $ref: "schemas/errors/not_acceptable.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    put:
      summary: Fully update a device
      description: |
        Fully updates an existing device. All fields must be provided.

        **Business Rules:**
        - Creation time cannot be updated (will be ignored if provided)
        - Name and brand cannot be updated if the device state is "in-use"
      operationId: updateDevice
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/DeviceIdParam"
        - $ref: "#/components/parameters/IfMatchHeader"
        - $ref: "#/components/parameters/AcceptHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDeviceRequest"
            examples:
              update:
                $ref: "schemas/examples/device_update_request.yaml#/full"
      responses:
        "200":
          description: Device updated successfully
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitResetHeader"
            Content-Encoding:
              $ref: "#/components/headers/ContentEncodingHeader"
            Vary:
              $ref: "#/components/headers/VaryHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceResponse"
              examples:
                updated:
                  $ref: "schemas/examples/device_response.yaml#/updated"
        "400":
          $ref: "schemas/errors/bad_request.yaml"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "404":
          $ref: "schemas/errors/not_found.yaml"
        "406":
          $ref: "schemas/errors/not_acceptable.yaml"
        "409":
          $ref: "schemas/errors/conflict.yaml"
        "412":
          $ref: "schemas/errors/precondition_failed.yaml"
        "422":
          $ref: "schemas/errors/unprocessable_entity.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    patch:
      summary: Partially update a device
      description: |
        Partially updates an existing device. Only provided fields will be updated.

        **Business Rules:**
        - Creation time cannot be updated (will be ignored if provided)
        - Name and brand cannot be updated if the device state is "in-use"
      operationId: patchDevice
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/DeviceIdParam"
        - $ref: "#/components/parameters/IfMatchHeader"
        - $ref: "#/components/parameters/AcceptHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchDeviceRequest"
            examples:
              patch_state:
                $ref: "schemas/examples/device_update_request.yaml#/patch_state"
              patch_name:
                $ref: "schemas/examples/device_update_request.yaml#/patch_name"
      responses:
        "200":
          description: Device patched successfully
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitResetHeader"
            Content-Encoding:
              $ref: "#/components/headers/ContentEncodingHeader"
            Vary:
              $ref: "#/components/headers/VaryHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceResponse"
              examples:
                patched:
                  $ref: "schemas/examples/device_response.yaml#/patched"
        "400":
          $ref: "schemas/errors/bad_request.yaml"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "404":
          $ref: "schemas/errors/not_found.yaml"
        "406":
          $ref: "schemas/errors/not_acceptable.yaml"
        "409":
          $ref: "schemas/errors/conflict.yaml"
        "412":
          $ref: "schemas/errors/precondition_failed.yaml"
        "422":
          $ref: "schemas/errors/unprocessable_entity.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    delete:
      summary: Delete a device
      description: |
        Deletes a device by its unique identifier.

        **Business Rules:**
        - Devices with state "in-use" cannot be deleted
      operationId: deleteDevice
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/DeviceIdParam"
      responses:
        "204":
          description: Device deleted successfully
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitResetHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "404":
          $ref: "schemas/errors/not_found.yaml"
        "409":
          $ref: "schemas/errors/conflict.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    head:
      summary: Get device metadata
      description: |
        Returns headers only for a single device (no response body).
        Useful for checking if a device exists or validating cached data via ETag.
      operationId: headDevice
      tags:
        - Devices
      security:
        - PasetoAuth: []
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
        - $ref: "#/components/parameters/ApiVersionHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
        - $ref: "#/components/parameters/TracestateHeader"
        - $ref: "#/components/parameters/DeviceIdParam"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          description: Device exists
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            Request-Id:
              $ref: "#/components/headers/RequestIdHeader"
            Correlation-Id:
              $ref: "#/components/headers/CorrelationIdHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
            Last-Modified:
              $ref: "#/components/headers/LastModifiedHeader"
            Content-Length:
              description: Size of the response body in bytes (if GET were used)
              schema:
                type: integer
              example: 256
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
        "304":
          description: Not Modified - Resource unchanged since last request
          headers:
            API-Version:
              $ref: "#/components/headers/ApiVersionHeader"
            ETag:
              $ref: "#/components/headers/ETagHeader"
            traceparent:
              $ref: "#/components/headers/TraceparentResponseHeader"
            tracestate:
              $ref: "#/components/headers/TracestateResponseHeader"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "404":
          $ref: "schemas/errors/not_found.yaml"
        "429":
          $ref: "schemas/errors/rate_limit.yaml"
        "500":
          $ref: "schemas/errors/server_error.yaml"

    options:
      summary: Get allowed methods for device resource
      description: |
        Returns the HTTP methods allowed for this device resource.
        Used for CORS preflight requests and capability discovery.
      operationId: optionsDevice
      tags:
        - Devices
      security: []
      parameters:
        - $ref: "#/components/parameters/DeviceIdParam"
      responses:
        "204":
          description: Allowed methods returned
          headers:
            Allow:
              description: Comma-separated list of allowed HTTP methods
              schema:
                type: string
              example: "GET, PUT, PATCH, DELETE, HEAD, OPTIONS"
            Access-Control-Allow-Methods:
              description: CORS allowed methods
              schema:
                type: string
              example: "GET, PUT, PATCH, DELETE, HEAD, OPTIONS"
            Access-Control-Allow-Headers:
              description: CORS allowed headers
              schema:
                type: string
              example: "Authorization, Content-Type, Request-Id, Correlation-Id, API-Version, If-Match, If-None-Match, traceparent, tracestate"
            Access-Control-Max-Age:
              description: CORS preflight cache duration in seconds
              schema:
                type: integer
              example: 86400

  /liveness:
    get:
      summary: Liveness probe
      description: |
        Simple liveness check to determine if the service is running.
        Used by orchestrators (like Kubernetes) to determine if the container should be restarted.
      operationId: livenessCheck
      tags:
        - System
      security: []
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LivenessResponse"
              examples:
                ok:
                  $ref: "schemas/examples/liveness_response.yaml#/ok"
        "503":
          description: Service is not alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LivenessResponse"
              examples:
                down:
                  $ref: "schemas/examples/liveness_response.yaml#/down"

  /readiness:
    get:
      summary: Readiness probe
      description: |
        Comprehensive readiness check to determine if the service is ready to accept traffic.
        Checks all critical dependencies including database and downstream services.
        Used by orchestrators to determine if traffic should be routed to this instance.
      operationId: readinessCheck
      tags:
        - System
      security: []
      responses:
        "200":
          description: Service is ready to accept traffic
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessResponse"
              examples:
                ok:
                  $ref: "schemas/examples/readiness_response.yaml#/ok"
        "503":
          description: Service is not ready (dependencies unavailable)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessResponse"
              examples:
                down:
                  $ref: "schemas/examples/readiness_response.yaml#/down"

  /health:
    get:
      summary: Health check
      description: |
        Comprehensive health check with detailed system information including uptime.
        This endpoint provides the same dependency status as readiness but includes
        additional system metrics. Protected with basic authentication.
      operationId: healthCheck
      tags:
        - System
      security:
        - BasicAuth: []
      responses:
        "200":
          description: Service health status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                ok:
                  $ref: "schemas/examples/health_response.yaml#/ok"
        "401":
          $ref: "schemas/errors/unauthorized.yaml"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                down:
                  $ref: "schemas/examples/health_response.yaml#/down"

components:
  parameters:
    ApiVersionHeader:
      name: API-Version
      in: header
      required: false
      description: |
        API version to use for this request. If not specified, defaults to v1.
        Supported versions: v1
      schema:
        type: string
        enum: [v1]
        default: v1
      example: v1

    RequestIdHeader:
      name: Request-Id
      in: header
      required: false
      description: |
        Unique request identifier for tracing and debugging purposes (per-request, always generated server-side).
        RFC 6648 compliant (no X- prefix).
      schema:
        type: string
        format: uuid
      example: "019234a5-6b7c-8d9e-0f12-34567890abcd"

    CorrelationIdHeader:
      name: Correlation-Id
      in: header
      required: false
      description: |
        Correlation identifier for tracing requests across multiple services.
        Can be provided by client or generated server-side if not provided.
        RFC 6648 compliant (no X- prefix).
      schema:
        type: string
        format: uuid
      example: "019234a5-6b7c-8d9e-0f12-34567890abcd"

    DeviceIdParam:
      name: deviceId
      in: path
      required: true
      description: The unique identifier of the device (UUID v7)
      schema:
        type: string
        format: uuid
      example: "019234a5-6b7c-8d9e-0f12-34567890abcd"

    PageParam:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-indexed)
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1

    SizeParam:
      name: size
      in: query
      required: false
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20

    BrandFilterParam:
      name: brand
      in: query
      required: false
      description: Filter devices by brand (case-insensitive, partial match)
      schema:
        type: string
        minLength: 1
        maxLength: 100
      example: "Apple"

    StateFilterParam:
      name: state
      in: query
      required: false
      description: Filter devices by state
      schema:
        $ref: "#/components/schemas/DeviceState"
      example: "available"

    SortParam:
      name: sort
      in: query
      required: false
      description: |
        Field to sort results by. Prefix with `-` for descending order.
        Supported fields: name, brand, state, createdAt, updatedAt
      schema:
        type: string
        pattern: "^-?(name|brand|state|createdAt|updatedAt)$"
        default: "-createdAt"
      example: "-createdAt"

    FieldsParam:
      name: fields
      in: query
      required: false
      description: |
        Field projection to control which fields are returned in the response.

        **Default behavior (no fields parameter):**
        Returns essential fields only: `id`, `name`, `brand`, `state`

        **With fields parameter:**
        Returns only the specified fields. Use comma-separated list.

        **Supported fields:**
        - `id` - Device unique identifier (always included)
        - `name` - Device name
        - `brand` - Device manufacturer
        - `state` - Device state (available, in-use, inactive)
        - `createdAt` - Creation timestamp
        - `updatedAt` - Last update timestamp
        - `links` - HATEOAS navigation links

        **Nested fields syntax:**
        Use `field:(subfield1,subfield2)` for nested objects.
        Example: `links:(self)` returns only the self link.
      schema:
        type: string
        pattern: "^[a-zA-Z,:()]+$"
      examples:
        essential:
          value: "id,name,brand,state"
          summary: Essential fields only
        withTimestamps:
          value: "id,name,brand,state,createdAt,updatedAt"
          summary: Include timestamps
        withLinks:
          value: "id,name,state,links:(self)"
          summary: Include HATEOAS links

    IfMatchHeader:
      name: If-Match
      in: header
      required: false
      description: |
        ETag value for optimistic concurrency control.
        The request will only succeed if the current resource ETag matches this value.
      schema:
        type: string
      example: '"a1b2c3d4e5f6"'

    IfNoneMatchHeader:
      name: If-None-Match
      in: header
      required: false
      description: |
        ETag value for conditional requests.
        For GET: Returns 304 Not Modified if the resource hasn't changed.
        For PUT/PATCH: Prevents updates if resource exists (use "*").
      schema:
        type: string
      example: '"a1b2c3d4e5f6"'

    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      description: |
        PASETO v4 bearer token for authentication.
        Format: Bearer v4.public.{payload}.{signature}
      schema:
        type: string
        pattern: "^Bearer v4\\.(public|local)\\..+$"
      example: "Bearer v4.public.eyJleHAiOiIyMDI0LTAxLTE1VDEyOjAwOjAwWiIsImlhdCI6IjIwMjQtMDEtMTVUMTA6MDA6MDBaIiwic3ViIjoiMDE5MjM0YTUtNmI3Yy04ZDllLTBmMTItMzQ1Njc4OTBhYmNkIn0.signature"

    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: true
      description: |
        Unique key to ensure idempotent POST requests.
        If the same key is sent again within the TTL window (24 hours),
        the server returns the cached response instead of creating a duplicate.

        **Requirements:**
        - Must be a valid UUID v7
        - Must be unique per logical operation
        - Cached for 24 hours
      schema:
        type: string
        format: uuid
      example: "019234a5-6b7c-8d9e-0f12-34567890abcd"

    AcceptEncodingHeader:
      name: Accept-Encoding
      in: header
      required: false
      description: |
        Accepted compression algorithms for the response.
        Server will use the best matching algorithm.
      schema:
        type: string
      example: "gzip, deflate, br"

    AcceptHeader:
      name: Accept
      in: header
      required: false
      description: |
        Media type(s) acceptable for the response.
        Currently only `application/json` is supported.

        If not specified, defaults to `application/json`.
        If an unsupported media type is requested, returns 406 Not Acceptable.
      schema:
        type: string
        default: "application/json"
      example: "application/json"

    TraceparentHeader:
      name: traceparent
      in: header
      required: false
      description: |
        W3C Trace Context header for distributed tracing (OpenTelemetry compatible).

        Format: `{version}-{trace-id}-{parent-id}-{trace-flags}`
        - version: 2 hex digits (always "00")
        - trace-id: 32 hex digits (16 bytes)
        - parent-id: 16 hex digits (8 bytes)
        - trace-flags: 2 hex digits (sampling flag)

        If not provided, the server will generate a new trace context.
      schema:
        type: string
        pattern: "^00-[a-f0-9]{32}-[a-f0-9]{16}-[0-9a-f]{2}$"
      example: "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"

    TracestateHeader:
      name: tracestate
      in: header
      required: false
      description: |
        W3C Trace Context state header for vendor-specific trace data.
        Comma-separated list of key=value pairs.
      schema:
        type: string
      example: "congo=t61rcWkgMzE,rojo=00f067aa0ba902b7"

  headers:
    ApiVersionHeader:
      $ref: "schemas/headers/response-headers.yaml#/ApiVersionHeader"

    LocationHeader:
      $ref: "schemas/headers/response-headers.yaml#/LocationHeader"

    RequestIdHeader:
      $ref: "schemas/headers/response-headers.yaml#/RequestIdHeader"

    CorrelationIdHeader:
      $ref: "schemas/headers/response-headers.yaml#/CorrelationIdHeader"

    ETagHeader:
      $ref: "schemas/headers/response-headers.yaml#/ETagHeader"

    CacheControlHeader:
      $ref: "schemas/headers/response-headers.yaml#/CacheControlHeader"

    LastModifiedHeader:
      $ref: "schemas/headers/response-headers.yaml#/LastModifiedHeader"

    RateLimitLimitHeader:
      $ref: "schemas/headers/response-headers.yaml#/RateLimitLimitHeader"

    RateLimitRemainingHeader:
      $ref: "schemas/headers/response-headers.yaml#/RateLimitRemainingHeader"

    RateLimitResetHeader:
      $ref: "schemas/headers/response-headers.yaml#/RateLimitResetHeader"

    RetryAfterHeader:
      $ref: "schemas/headers/response-headers.yaml#/RetryAfterHeader"

    ContentEncodingHeader:
      $ref: "schemas/headers/response-headers.yaml#/ContentEncodingHeader"

    VaryHeader:
      $ref: "schemas/headers/response-headers.yaml#/VaryHeader"

    TraceparentResponseHeader:
      $ref: "schemas/headers/response-headers.yaml#/TraceparentResponseHeader"

    TracestateResponseHeader:
      $ref: "schemas/headers/response-headers.yaml#/TracestateResponseHeader"

  securitySchemes:
    PasetoAuth:
      type: http
      scheme: bearer
      bearerFormat: PASETO
      description: |
        PASETO (Platform-Agnostic Security Tokens) v4 token.
        A secure, stateless token format for authentication.
        Format: Bearer v4.public.{payload}.{signature}

    BasicAuth:
      type: http
      scheme: basic
      description: Basic HTTP authentication for administrative endpoints

  schemas:
    DeviceState:
      $ref: "schemas/common/device-state.yaml#/DeviceState"

    CreateDeviceRequest:
      $ref: "schemas/device/device-request.yaml#/CreateDeviceRequest"

    UpdateDeviceRequest:
      $ref: "schemas/device/device-request.yaml#/UpdateDeviceRequest"

    PatchDeviceRequest:
      $ref: "schemas/device/device-request.yaml#/PatchDeviceRequest"

    DeviceResponse:
      $ref: "schemas/device/device-response.yaml#/DeviceResponse"

    DeviceListResponse:
      $ref: "schemas/device/device-list-response.yaml#/DeviceListResponse"

    LivenessResponse:
      $ref: "schemas/system/liveness-response.yaml#/LivenessResponse"

    ReadinessResponse:
      $ref: "schemas/system/readiness-response.yaml#/ReadinessResponse"

    HealthResponse:
      $ref: "schemas/system/health-response.yaml#/HealthResponse"

    ErrorResponse:
      $ref: "schemas/common/error-response.yaml#/ErrorResponse"

    Pagination:
      $ref: "schemas/common/pagination.yaml#/Pagination"

tags:
  - name: Devices
    description: Device management operations
  - name: System
    description: System liveness, readiness, and health probes
