{
  "openapi": "3.0.3",
  "info": {
    "title": "Devices API Gateway",
    "description": "A REST API for managing device resources with full CRUD operations and filtering capabilities.\n\n## Device Domain\n\nEach device contains:\n- **Id**: Unique identifier (UUID v7)\n- **Name**: Device name\n- **Brand**: Device manufacturer/brand\n- **State**: Current state (available, in-use, inactive)\n- **Creation Time**: Timestamp when the device was created\n\n## Business Rules\n\n- Creation time cannot be updated\n- Name and brand properties cannot be updated if the device is in use\n- In-use devices cannot be deleted\n\n## API Versioning\n\nThis API uses semantic versioning and supports multiple versioning strategies:\n\n### Version Strategy\n- **URL Path Versioning**: `/v1/` (primary method)\n- **Header Versioning**: `API-Version: v1` header (alternative)\n\n### Version Information\n- All responses include `API-Version` header indicating the version used\n- Version-specific changes are documented in the changelog\n- Breaking changes require major version increment\n\n## Security\n\nThis API uses PASETO token authentication:\n- **PASETO tokens**: Platform-Agnostic Security Tokens - secure, stateless authentication\n\n## Security Headers\n\nAll responses include standard security headers:\n- `X-Content-Type-Options: nosniff`\n- `X-Frame-Options: DENY`\n- `X-XSS-Protection: 1; mode=block`\n- `Strict-Transport-Security: max-age=31536000; includeSubDomains`\n- `Content-Security-Policy: default-src 'self'`\n- `Referrer-Policy: strict-origin-when-cross-origin`\n- `Permissions-Policy: camera=(), microphone=(), geolocation=()`\n",
    "version": "1.0.0",
    "contact": {
      "name": "Devices API Support",
      "url": "https://github.com/architeacher/devices"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.devices.dev/{version}",
      "description": "Local development server",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ],
          "description": "The API version to use"
        }
      }
    },
    {
      "url": "https://api.devices.com/{version}",
      "description": "Production server",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ],
          "description": "The API version to use"
        }
      }
    }
  ],
  "security": [
    {
      "PasetoAuth": []
    }
  ],
  "tags": [
    {
      "name": "Devices",
      "description": "Device management operations"
    },
    {
      "name": "System",
      "description": "System liveness, readiness, and health probes"
    }
  ],
  "paths": {
    "/devices": {
      "post": {
        "summary": "Create a new device",
        "description": "Creates a new device resource. The device will be assigned a unique UUID v7 identifier\nand the creation time will be automatically set to the current timestamp.\n",
        "operationId": "createDevice",
        "tags": [
          "Devices"
        ],
        "security": [
          {
            "PasetoAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "PASETO v4 bearer token for authentication.\nFormat: Bearer v4.public.{payload}.{signature}\n",
            "schema": {
              "type": "string",
              "pattern": "^Bearer v4\\.(public|local)\\..+$"
            },
            "example": "Bearer v4.public.eyJleHAiOiIyMDI0LTAxLTE1VDEyOjAwOjAwWiIsImlhdCI6IjIwMjQtMDEtMTVUMTA6MDA6MDBaIiwic3ViIjoiMDE5MjM0YTUtNmI3Yy04ZDllLTBmMTItMzQ1Njc4OTBhYmNkIn0.signature"
          },
          {
            "name": "API-Version",
            "in": "header",
            "required": false,
            "description": "API version to use for this request. If not specified, defaults to v1.\nSupported versions: v1\n",
            "schema": {
              "type": "string",
              "enum": [
                "v1"
              ],
              "default": "v1"
            },
            "example": "v1"
          },
          {
            "name": "Request-Id",
            "in": "header",
            "required": false,
            "description": "Unique request identifier for tracing and debugging purposes (per-request, always generated server-side).\nRFC 6648 compliant (no X- prefix).\n",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
          },
          {
            "name": "traceparent",
            "in": "header",
            "required": false,
            "description": "W3C Trace Context header for distributed tracing (OpenTelemetry compatible).\n\nFormat: `{version}-{trace-id}-{parent-id}-{trace-flags}`\n- version: 2 hex digits (always \"00\")\n- trace-id: 32 hex digits (16 bytes)\n- parent-id: 16 hex digits (8 bytes)\n- trace-flags: 2 hex digits (sampling flag)\n\nIf not provided, the server will generate a new trace context.\n",
            "schema": {
              "type": "string",
              "pattern": "^00-[a-f0-9]{32}-[a-f0-9]{16}-[0-9a-f]{2}$"
            },
            "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
          },
          {
            "name": "tracestate",
            "in": "header",
            "required": false,
            "description": "W3C Trace Context state header for vendor-specific trace data.\nComma-separated list of key=value pairs.\n",
            "schema": {
              "type": "string"
            },
            "example": "congo=t61rcWkgMzE,rojo=00f067aa0ba902b7"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique key to ensure idempotent POST requests.\nIf the same key is sent again within the TTL window (24 hours),\nthe server returns the cached response instead of creating a duplicate.\n\n**Requirements:**\n- Must be a valid UUID v7\n- Must be unique per logical operation\n- Cached for 24 hours\n",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "description": "Media type(s) acceptable for the response.\nCurrently only `application/json` is supported.\n\nIf not specified, defaults to `application/json`.\nIf an unsupported media type is requested, returns 406 Not Acceptable.\n",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for creating a new device",
                "required": [
                  "name",
                  "brand"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the device",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "iPhone 15 Pro"
                  },
                  "brand": {
                    "type": "string",
                    "description": "The brand/manufacturer of the device",
                    "minLength": 1,
                    "maxLength": 100,
                    "example": "Apple"
                  },
                  "state": {
                    "description": "Initial state of the device (defaults to \"available\" if not provided)",
                    "default": "available",
                    "type": "string",
                    "enum": [
                      "available",
                      "in-use",
                      "inactive"
                    ],
                    "example": "available",
                    "x-enum-descriptions": {
                      "available": "Device is available for use",
                      "in-use": "Device is currently being used (name/brand cannot be updated, cannot be deleted)",
                      "inactive": "Device is inactive and not available for use"
                    }
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Create a new device with default state",
                  "value": {
                    "name": "iPhone 15 Pro",
                    "brand": "Apple"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Device created successfully",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Location": {
                "description": "URI of the newly created resource",
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "/devices/019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "RateLimit-Limit": {
                "description": "Maximum number of requests allowed per time window (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 100
              },
              "RateLimit-Remaining": {
                "description": "Number of requests remaining in the current time window (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 95
              },
              "RateLimit-Reset": {
                "description": "Unix timestamp (seconds) when the rate limit window resets (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 1705320000
              },
              "Content-Encoding": {
                "description": "Compression algorithm used for the response body",
                "schema": {
                  "type": "string",
                  "enum": [
                    "gzip",
                    "deflate",
                    "br",
                    "identity"
                  ]
                },
                "example": "gzip"
              },
              "Vary": {
                "description": "Headers that affect response caching and content negotiation",
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding, Authorization"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing a single device",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "A device resource",
                      "required": [
                        "id",
                        "name",
                        "brand",
                        "state",
                        "createdAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique identifier for the device (UUID v7)",
                          "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the device",
                          "minLength": 1,
                          "maxLength": 255,
                          "example": "iPhone 15 Pro"
                        },
                        "brand": {
                          "type": "string",
                          "description": "The brand/manufacturer of the device",
                          "minLength": 1,
                          "maxLength": 100,
                          "example": "Apple"
                        },
                        "state": {
                          "type": "string",
                          "description": "The current state of the device",
                          "enum": [
                            "available",
                            "in-use",
                            "inactive"
                          ],
                          "example": "available",
                          "x-enum-descriptions": {
                            "available": "Device is available for use",
                            "in-use": "Device is currently being used (name/brand cannot be updated, cannot be deleted)",
                            "inactive": "Device is inactive and not available for use"
                          }
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the device was created (immutable)",
                          "example": "2024-01-15T10:30:00Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the device was last updated",
                          "example": "2024-01-15T14:45:00Z"
                        },
                        "links": {
                          "type": "object",
                          "description": "HATEOAS links for device navigation",
                          "properties": {
                            "self": {
                              "type": "string",
                              "format": "uri-reference",
                              "description": "Link to this device resource",
                              "example": "/devices/019234a5-6b7c-8d9e-0f12-34567890abcd"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "created": {
                    "summary": "Newly created device",
                    "value": {
                      "data": {
                        "id": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                        "name": "iPhone 15 Pro",
                        "brand": "Apple",
                        "state": "available",
                        "createdAt": "2024-01-15T10:30:00Z",
                        "updatedAt": "2024-01-15T10:30:00Z",
                        "links": {
                          "self": "/devices/019234a5-6b7c-8d9e-0f12-34567890abcd"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was malformed or contains invalid syntax",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid_json": {
                    "summary": "Invalid JSON syntax",
                    "value": {
                      "code": "BAD_REQUEST",
                      "message": "Invalid JSON syntax in request body",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  },
                  "missing_content_type": {
                    "summary": "Missing Content-Type header",
                    "value": {
                      "code": "BAD_REQUEST",
                      "message": "Content-Type header must be application/json",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required or has failed",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              },
              "WWW-Authenticate": {
                "description": "Authentication scheme information",
                "schema": {
                  "type": "string"
                },
                "example": "Bearer realm=\"devices-api\""
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "missing_token": {
                    "summary": "Missing authentication token",
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Authentication token is required",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  },
                  "invalid_token": {
                    "summary": "Invalid or expired token",
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Authentication token is invalid or expired",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The requested media type is not supported",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unsupported_media_type": {
                    "summary": "Requested media type not supported",
                    "value": {
                      "code": "NOT_ACCEPTABLE",
                      "message": "The requested media type is not supported. Supported: application/json",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z",
                      "details": [
                        {
                          "field": "Accept",
                          "message": "Unsupported media type: application/xml",
                          "code": "UNSUPPORTED_MEDIA_TYPE"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but contains semantic errors",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "validation_error": {
                    "summary": "Validation errors",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "The request body contains validation errors",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z",
                      "details": [
                        {
                          "field": "name",
                          "message": "name is required",
                          "code": "REQUIRED_FIELD"
                        },
                        {
                          "field": "brand",
                          "message": "brand must be between 1 and 100 characters",
                          "code": "INVALID_LENGTH"
                        }
                      ]
                    }
                  },
                  "invalid_state": {
                    "summary": "Invalid state value",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "The request body contains validation errors",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z",
                      "details": [
                        {
                          "field": "state",
                          "message": "state must be one of: available, in-use, inactive",
                          "code": "INVALID_ENUM_VALUE"
                        }
                      ]
                    }
                  },
                  "invalid_uuid": {
                    "summary": "Invalid UUID format",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "The request contains an invalid identifier",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z",
                      "details": [
                        {
                          "field": "deviceId",
                          "message": "deviceId must be a valid UUID",
                          "code": "INVALID_FORMAT"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit has been exceeded",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              },
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request",
                "schema": {
                  "type": "integer"
                },
                "example": 60
              },
              "RateLimit-Limit": {
                "description": "Maximum number of requests allowed per time window (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 100
              },
              "RateLimit-Remaining": {
                "description": "Number of requests remaining in the current time window (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 95
              },
              "RateLimit-Reset": {
                "description": "Unix timestamp (seconds) when the rate limit window resets (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 1705320000
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "message": "Rate limit exceeded. Please retry after 60 seconds",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred. Please try again later",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  },
                  "database_error": {
                    "summary": "Database connection error",
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "Service temporarily unavailable. Please try again later",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all devices",
        "description": "Retrieves a paginated list of all devices. Supports filtering by brand and state.\n",
        "operationId": "listDevices",
        "tags": [
          "Devices"
        ],
        "security": [
          {
            "PasetoAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "PASETO v4 bearer token for authentication.\nFormat: Bearer v4.public.{payload}.{signature}\n",
            "schema": {
              "type": "string",
              "pattern": "^Bearer v4\\.(public|local)\\..+$"
            },
            "example": "Bearer v4.public.eyJleHAiOiIyMDI0LTAxLTE1VDEyOjAwOjAwWiIsImlhdCI6IjIwMjQtMDEtMTVUMTA6MDA6MDBaIiwic3ViIjoiMDE5MjM0YTUtNmI3Yy04ZDllLTBmMTItMzQ1Njc4OTBhYmNkIn0.signature"
          },
          {
            "name": "API-Version",
            "in": "header",
            "required": false,
            "description": "API version to use for this request. If not specified, defaults to v1.\nSupported versions: v1\n",
            "schema": {
              "type": "string",
              "enum": [
                "v1"
              ],
              "default": "v1"
            },
            "example": "v1"
          },
          {
            "name": "Request-Id",
            "in": "header",
            "required": false,
            "description": "Unique request identifier for tracing and debugging purposes (per-request, always generated server-side).\nRFC 6648 compliant (no X- prefix).\n",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
          },
          {
            "name": "traceparent",
            "in": "header",
            "required": false,
            "description": "W3C Trace Context header for distributed tracing (OpenTelemetry compatible).\n\nFormat: `{version}-{trace-id}-{parent-id}-{trace-flags}`\n- version: 2 hex digits (always \"00\")\n- trace-id: 32 hex digits (16 bytes)\n- parent-id: 16 hex digits (8 bytes)\n- trace-flags: 2 hex digits (sampling flag)\n\nIf not provided, the server will generate a new trace context.\n",
            "schema": {
              "type": "string",
              "pattern": "^00-[a-f0-9]{32}-[a-f0-9]{16}-[0-9a-f]{2}$"
            },
            "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
          },
          {
            "name": "tracestate",
            "in": "header",
            "required": false,
            "description": "W3C Trace Context state header for vendor-specific trace data.\nComma-separated list of key=value pairs.\n",
            "schema": {
              "type": "string"
            },
            "example": "congo=t61rcWkgMzE,rojo=00f067aa0ba902b7"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (1-indexed)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Filter by brand(s). Comma-separated for OR matching.\nExample: ?brand=Apple,Samsung\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "maxItems": 10
            },
            "style": "form",
            "explode": false,
            "example": "Apple"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Filter by state(s). Comma-separated for OR matching.\nExample: ?state=available,inactive\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The current state of the device",
                "enum": [
                  "available",
                  "in-use",
                  "inactive"
                ],
                "example": "available",
                "x-enum-descriptions": {
                  "available": "Device is available for use",
                  "in-use": "Device is currently being used (name/brand cannot be updated, cannot be deleted)",
                  "inactive": "Device is inactive and not available for use"
                }
              },
              "maxItems": 3
            },
            "style": "form",
            "explode": false,
            "example": "available"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort results by. Comma-separated for multi-field sorting.\nPrefix with `-` for descending order.\nSupported fields: name, brand, state, createdAt, updatedAt\nExample: ?sort=-createdAt,name (sort by createdAt DESC, then name ASC)\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^-?(name|brand|state|createdAt|updatedAt)$"
              },
              "maxItems": 5,
              "default": [
                "-createdAt"
              ]
            },
            "style": "form",
            "explode": false,
            "example": "-createdAt,name"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Field projection to control which fields are returned in the response.\n\n**Default behavior (no fields parameter):**\nReturns essential fields only: `id`, `name`, `brand`, `state`\n\n**With fields parameter:**\nReturns only the specified fields. Use comma-separated list.\n\n**Supported fields:**\n- `id` - Device unique identifier (always included)\n- `name` - Device name\n- `brand` - Device manufacturer\n- `state` - Device state (available, in-use, inactive)\n- `createdAt` - Creation timestamp\n- `updatedAt` - Last update timestamp\n- `links` - HATEOAS navigation links\n\n**Nested fields syntax:**\nUse `field:(subfield1,subfield2)` for nested objects.\nExample: `links:(self)` returns only the self link.\n",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z,:()]+$"
            },
            "examples": {
              "essential": {
                "value": "id,name,brand,state",
                "summary": "Essential fields only"
              },
              "withTimestamps": {
                "value": "id,name,brand,state,createdAt,updatedAt",
                "summary": "Include timestamps"
              },
              "withLinks": {
                "value": "id,name,state,links:(self)",
                "summary": "Include HATEOAS links"
              }
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "ETag value for conditional requests.\nFor GET: Returns 304 Not Modified if the resource hasn't changed.\nFor PUT/PATCH: Prevents updates if resource exists (use \"*\").\n",
            "schema": {
              "type": "string"
            },
            "example": "\"a1b2c3d4e5f6\""
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "required": false,
            "description": "Accepted compression algorithms for the response.\nServer will use the best matching algorithm.\n",
            "schema": {
              "type": "string"
            },
            "example": "gzip, deflate, br"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "description": "Media type(s) acceptable for the response.\nCurrently only `application/json` is supported.\n\nIf not specified, defaults to `application/json`.\nIf an unsupported media type is requested, returns 406 Not Acceptable.\n",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "List of devices retrieved successfully",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "ETag": {
                "description": "Entity tag for cache validation and optimistic concurrency control.\nUse this value in If-Match or If-None-Match headers for subsequent requests.\n",
                "schema": {
                  "type": "string"
                },
                "example": "\"a1b2c3d4e5f6\""
              },
              "Cache-Control": {
                "description": "Cache directives for the response.\n- `private`: Response is specific to the user\n- `max-age`: Maximum time in seconds the response can be cached\n- `no-cache`: Must revalidate with server before using cached response\n",
                "schema": {
                  "type": "string"
                },
                "example": "private, max-age=300"
              },
              "RateLimit-Limit": {
                "description": "Maximum number of requests allowed per time window (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 100
              },
              "RateLimit-Remaining": {
                "description": "Number of requests remaining in the current time window (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 95
              },
              "RateLimit-Reset": {
                "description": "Unix timestamp (seconds) when the rate limit window resets (RFC 6648 compliant)",
                "schema": {
                  "type": "integer"
                },
                "example": 1705320000
              },
              "Content-Encoding": {
                "description": "Compression algorithm used for the response body",
                "schema": {
                  "type": "string",
                  "enum": [
                    "gzip",
                    "deflate",
                    "br",
                    "identity"
                  ]
                },
                "example": "gzip"
              },
              "Vary": {
                "description": "Headers that affect response caching and content negotiation",
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding, Authorization"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing a paginated list of devices",
                  "required": [
                    "data",
                    "pagination"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of devices",
                      "items": {
                        "type": "object",
                        "description": "A device resource",
                        "required": [
                          "id",
                          "name",
                          "brand",
                          "state",
                          "createdAt"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier for the device (UUID v7)",
                            "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the device",
                            "minLength": 1,
                            "maxLength": 255,
                            "example": "iPhone 15 Pro"
                          },
                          "brand": {
                            "type": "string",
                            "description": "The brand/manufacturer of the device",
                            "minLength": 1,
                            "maxLength": 100,
                            "example": "Apple"
                          },
                          "state": {
                            "type": "string",
                            "description": "The current state of the device",
                            "enum": [
                              "available",
                              "in-use",
                              "inactive"
                            ],
                            "example": "available",
                            "x-enum-descriptions": {
                              "available": "Device is available for use",
                              "in-use": "Device is currently being used (name/brand cannot be updated, cannot be deleted)",
                              "inactive": "Device is inactive and not available for use"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the device was created (immutable)",
                            "example": "2024-01-15T10:30:00Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the device was last updated",
                            "example": "2024-01-15T14:45:00Z"
                          },
                          "links": {
                            "type": "object",
                            "description": "HATEOAS links for device navigation",
                            "properties": {
                              "self": {
                                "type": "string",
                                "format": "uri-reference",
                                "description": "Link to this device resource",
                                "example": "/devices/019234a5-6b7c-8d9e-0f12-34567890abcd"
                              }
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination metadata for list responses",
                      "required": [
                        "page",
                        "size",
                        "totalItems",
                        "totalPages"
                      ],
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "Current page number (1-indexed)",
                          "minimum": 1,
                          "example": 1
                        },
                        "size": {
                          "type": "integer",
                          "description": "Number of items per page",
                          "minimum": 1,
                          "maximum": 100,
                          "example": 20
                        },
                        "totalItems": {
                          "type": "integer",
                          "description": "Total number of items across all pages",
                          "minimum": 0,
                          "example": 150
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages",
                          "minimum": 0,
                          "example": 8
                        },
                        "hasNext": {
                          "type": "boolean",
                          "description": "Whether there is a next page",
                          "example": true
                        },
                        "hasPrevious": {
                          "type": "boolean",
                          "description": "Whether there is a previous page",
                          "example": false
                        },
                        "links": {
                          "type": "object",
                          "description": "HATEOAS links for pagination navigation",
                          "properties": {
                            "self": {
                              "type": "string",
                              "format": "uri-reference",
                              "description": "Link to the current page",
                              "example": "/devices?page=1&size=20"
                            },
                            "first": {
                              "type": "string",
                              "format": "uri-reference",
                              "description": "Link to the first page",
                              "example": "/devices?page=1&size=20"
                            },
                            "last": {
                              "type": "string",
                              "format": "uri-reference",
                              "description": "Link to the last page",
                              "example": "/devices?page=8&size=20"
                            },
                            "next": {
                              "type": "string",
                              "format": "uri-reference",
                              "nullable": true,
                              "description": "Link to the next page (null if on last page)",
                              "example": "/devices?page=2&size=20"
                            },
                            "previous": {
                              "type": "string",
                              "format": "uri-reference",
                              "nullable": true,
                              "description": "Link to the previous page (null if on first page)",
                              "example": null
                            }
                          }
                        }
                      }
                    },
                    "filters": {
                      "type": "object",
                      "description": "Filters that were applied to this request",
                      "properties": {
                        "brand": {
                          "type": "string",
                          "nullable": true,
                          "description": "Brand filter that was applied",
                          "example": "Apple"
                        },
                        "state": {
                          "type": "string",
                          "nullable": true,
                          "description": "State filter that was applied",
                          "enum": [
                            "available",
                            "in-use",
                            "inactive"
                          ],
                          "example": "available"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "list": {
                    "summary": "List of devices",
                    "value": {
                      "data": [
                        {
                          "id": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                          "name": "iPhone 15 Pro",
                          "brand": "Apple",
                          "state": "available",
                          "createdAt": "2024-01-15T10:30:00Z",
                          "updatedAt": "2024-01-15T10:30:00Z",
                          "links": {
                            "self": "/devices/019234a5-6b7c-8d9e-0f12-34567890abcd"
                          }
                        },
                        {
                          "id": "019234a5-6b7c-8d9e-0f12-34567890abce",
                          "name": "Galaxy S24 Ultra",
                          "brand": "Samsung",
                          "state": "in-use",
                          "createdAt": "2024-01-14T08:15:00Z",
                          "updatedAt": "2024-01-15T09:00:00Z",
                          "links": {
                            "self": "/devices/019234a5-6b7c-8d9e-0f12-34567890abce"
                          }
                        },
                        {
                          "id": "019234a5-6b7c-8d9e-0f12-34567890abcf",
                          "name": "Pixel 8 Pro",
                          "brand": "Google",
                          "state": "inactive",
                          "createdAt": "2024-01-13T14:20:00Z",
                          "updatedAt": "2024-01-13T14:20:00Z",
                          "links": {
                            "self": "/devices/019234a5-6b7c-8d9e-0f12-34567890abcf"
                          }
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "size": 20,
                        "totalItems": 3,
                        "totalPages": 1,
                        "hasNext": false,
                        "hasPrevious": false,
                        "links": {
                          "self": "/devices?page=1&size=20",
                          "first": "/devices?page=1&size=20",
                          "last": "/devices?page=1&size=20",
                          "next": null,
                          "previous": null
                        }
                      },
                      "filters": {
                        "brand": null,
                        "state": null
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified - Resource unchanged since last request (ETag matched)",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "ETag": {
                "description": "Entity tag for cache validation and optimistic concurrency control.\nUse this value in If-Match or If-None-Match headers for subsequent requests.\n",
                "schema": {
                  "type": "string"
                },
                "example": "\"a1b2c3d4e5f6\""
              },
              "Cache-Control": {
                "description": "Cache directives for the response.\n- `private`: Response is specific to the user\n- `max-age`: Maximum time in seconds the response can be cached\n- `no-cache`: Must revalidate with server before using cached response\n",
                "schema": {
                  "type": "string"
                },
                "example": "private, max-age=300"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was malformed or contains invalid syntax",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid_json": {
                    "summary": "Invalid JSON syntax",
                    "value": {
                      "code": "BAD_REQUEST",
                      "message": "Invalid JSON syntax in request body",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  },
                  "missing_content_type": {
                    "summary": "Missing Content-Type header",
                    "value": {
                      "code": "BAD_REQUEST",
                      "message": "Content-Type header must be application/json",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required or has failed",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              },
              "WWW-Authenticate": {
                "description": "Authentication scheme information",
                "schema": {
                  "type": "string"
                },
                "example": "Bearer realm=\"devices-api\""
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "missing_token": {
                    "summary": "Missing authentication token",
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Authentication token is required",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  },
                  "invalid_token": {
                    "summary": "Invalid or expired token",
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Authentication token is invalid or expired",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The requested media type is not supported",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "Correlation-Id": {
                "description": "Correlation identifier for tracing requests across multiple services (can be provided by client or generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
              "traceparent": {
                "description": "W3C Trace Context parent header for distributed tracing",
                "schema": {
                  "type": "string"
                },
                "example": "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
              },
              "tracestate": {
                "description": "W3C Trace Context state header for vendor-specific trace data",
                "schema": {
                  "type": "string"
                },
                "example": "congo=t61rcWkgMzE"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard error response format",
                  "required": [
                    "code",
                    "message",
                    "requestId",
                    "timestamp"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "The request body contains invalid data"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique request identifier for tracing",
                      "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "W3C Trace Context trace ID for distributed tracing (from traceparent header)",
                      "example": "0af7651916cd43dd8448eb211c80319c"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error occurred",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "details": {
                      "type": "array",
                      "description": "Additional error details for validation errors",
                      "items": {
                        "type": "object",
                        "description": "Detailed information about a specific error",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The field that caused the error",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Description of what is wrong with the field",
                            "example": "name is required"
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code for this specific error",
                            "example": "REQUIRED_FIELD"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unsupported_media_type": {
                    "summary": "Requested media type not supported",
                    "value": {
                      "code": "NOT_ACCEPTABLE",
                      "message": "The requested media type is not supported. Supported: application/json",
                      "requestId": "019234a5-6b7c-8d9e-0f12-34567890abcd",
                      "traceId": "0af7651916cd43dd8448eb211c80319c",
                      "timestamp": "2024-01-15T10:30:00Z",
                      "details": [
                        {
                          "field": "Accept",
                          "message": "Unsupported media type: application/xml",
                          "code": "UNSUPPORTED_MEDIA_TYPE"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit has been exceeded",
            "headers": {
              "API-Version": {
                "description": "API version used for this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "v1"
                  ]
                },
                "example": "v1"
              },
              "Request-Id": {
                "description": "Unique request identifier for tracing (per-request, always generated server-side)",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "019234a5-6b7c-8d9e-0f12-34567890abcd"
              },
[...]
